:root {
  --green: green;
  --lime: lime;
  --dark-blue: darkblue;
  --blue: blue;
  --violet: violet;
}

#par1 {
  background-color: var(--green);
}
#par2 {
  background-color: var(--lime);
}
#par3 {
  background-color: var(--dark-blue);
  margin: 16px 0;
  color: white;
}
#par4 {
  background-color: var(--blue);
  margin: 16px 0;
  color: white;
}
#par5 {
  background-color: var(--violet);
  margin: 16px 0;
  color: white;
}
