$green: green;
$lime: lime;
$dark-blue: darkblue;
$blue: blue;
$violet: violet;
$white: white;
$background-color: rgba(52, 205, 205, 0.2);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.heading {
  margin: 30px;
  padding: 30px;
  text-align: center;
  background-color: $background-color;
}

.sections {
  margin: 24px 5px;
  padding: 30;
  border: 1px solid;
}

.article {
  padding: 5px;
  margin: 20px;

  &--green {
    background-color: $green;
    color: $white;
  }

  &--lime {
    background-color: $lime;
  }

  &--darkblue {
    background-color: $dark-blue;
    color: $white;
  }

  &--blue {
    background-color: $blue;
    color: $white;
  }

  &--violet {
    background-color: $violet;;
  }
}

.button {
  margin: 5px;
  padding: 5px;

  &--filled {
    background-color: $background-color;
  }

  &--outlined {
    border-color: $green;
  }

  &--active {
    background-color: $lime;
    color: $white;
  }

  &--hover:hover {
    background-color: $lime;
    color: $white;
  }

  &--inactive:disabled {
    color: $violet;
  }

  &--default {
    border-radius: 0px;
  }

  &--rounded--little {
    border-radius: 5px;
  }

  &--rounded--very {
    border-radius: 15px;
  }
}

.flex-container {
  padding: 10px 50px;
  display: inline-block;
  justify-content: space-around;

  &--footer{
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
  }
}

.summary {
  padding: 5px 15px;
}

.input {
  margin: 5px;
  padding: 5px;

  &--normal {
    border-radius: 0px;
  }

  &--focus:focus {
    border-radius: 5px;
  }

  &--default {
    border-radius: 0px;
  }

  &--little_rounded {
    border-radius: 7px;
  }
}


.input--very_rounded {
  border-radius: 15px;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a,
button {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover,
button:hover {
  background-color: dodgerblue;
  color: white;
}

.header--left {
  float: left;
}

.header--right {
  padding-right: 50px;
  float: right;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.footer {
  padding: 50px 0;
  background-color: $background-color;
}
.footer--left {
  margin: 0 20px;
  background-color: $background-color;
}

.footer--center {
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  vertical-align: middle;
}

.footer--right {
  margin-left: auto;
}

@media screen and (max-width: 760px) {
  button {
    width: 29%;
  }

  .header a,
  .header button {
    float: none;
    display: block;
    text-align: left;
  }
  .header--right {
    float: none;
  }

  .header--left {
    float: none;
  }
}

@media screen and (max-width: 1024px) {
  .footer--left a {
    width: 100%;
  }

  .footer--center a {
    width: 100%;
  }

  .footer--right span {
    width: 100%;
  }
}
